/* CSS code for panel page one two
** PANEL page immobilien landing page
** added by criscom
** /mietwohnungen
**
*/


.page-mietwohnungen .panel-2col-stacked
{
    h2.pane-title {
        text-align: center;
        // text-transform: uppercase;
        margin-bottom: 16px;
        margin-bottom: 1rem;
        @extend %base-font-weight;
        span.link {
            display: block;
            font-size: 16px;
            font-size: 1rem;
            text-transform: initial !important;
        }
    }
    .panel-col-top,
    .center-wrapper .panel-col-first,
    .center-wrapper .panel-col-last
    {
        @extend %base-background;
        .field-name-field-image {
            img {
                border-radius: 4px;
            }
        }
    }
    .pane__title
    {
        margin-top: 0;
        margin-bottom: 0;
    }
    .panel-col-top
    {
        @extend %white-space;
    }
    .center-wrapper
    {
        @include clearfix;
        .panel-col-first
        {
            width: 49%;

            @include breakpoint($iphone5-6)
            {
                width: 100%;
            }
        @include breakpoint($max768) {
            margin-bottom: $white-space-px;
            margin-bottom: $white-space-rem;
     }
        }
        .panel-col-last
        {
                width: 49%;
                margin-left: 2%;

            @include breakpoint($iphone5-6)
            {
                width: 100%;
            }
        }
    }
}

.view-mietwohnungen-landing-page {
    .view-header p {
        text-align: center;
    }
    .views-row {
        .Verfügbar {
            @extend %bold-font-weight;
        }
    }
}

h2.wohnung
{
    text-align: center;

    background-color: darken($breadcrumb-bg, 40%);
    // background-color: $header-color;
    a
    {
        font-size: $h3-font-size;
        @include link-colors(
        $normal: white,
        $hover: $brand-primary);
    }
}

.page-mietwohnungen .panel-2col-stacked
{
    .center-wrapper .view .view-content
    {
        @include flexbox ((
        display: flex,
        flex-flow: row wrap,
        justy-content: space-around
        ));
        .views-row
        {
            width: 100%;
            @include breakpoint($desktop) {
                .ie1 & {
                    float: left; // workaround for IE10, which does not supporting flexbox
                }
            width: 49%;
             }
            @include breakpoint($xlarge) {
                width: 265px;
            }

            // background-color: darken($breadcrumb-bg, 10%);
            background-color: $header-color;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            @extend %divider-node;
            &-odd
            {
                @include breakpoint($desktop){                
                    margin-right: 2%;
                }
                @include breakpoint($xlarge) {
                    margin-right: 16px;
                    margin-right: 1rem;
                }
            }
            .wohnungsdetails,
            .verfuegbarkeit {
                text-align: center;
            }
            .verfuegbarkeit {
                margin-bottom: 16px;
                margin-bottom: 1rem;
            }
            .views-field-field-bilder {
                text-align: center;
            }
            .wohnungsdetails-link {
                margin-top: 16px;
                margin-top: 1rem;
                text-align: center;
            }
            img {
                @include border-radius(4px);
            }
        }
    }
}
