/* CSS code for panel page one col / two col
** PANEL page
** added by criscom
** /metallbau
** (Morocutti.at ==> metallbau)
*/

/* CSS code for panel page one col two rows
** PANEL page
** added by criscom
** /panel-one-two
**
*/
.page-metallbau .panel-2col-stacked {
         .field-name-field-image {
            img {
                @include border-radius(4px);
            }
        }
    .panel-col-top,
    .center-wrapper .panel-col-first,
    .center-wrapper .panel-col-last {
        @extend %base-background;
    }
    .pane__title {
        margin-top: 0;
        margin-bottom: 0;
    }
    .panel-col-top {
        @extend %white-space;
    }
    .center-wrapper {
        @include clearfix;
        .panel-col-first {
            width: 68%;
            @include breakpoint($iphone5-6)
            {
                width: 100%;
                margin-bottom: $white-space-px;
                margin-bottom: $white-space-rem;
            }
        }
        .panel-col-last {
            width: 30%;
            margin-left: 2%;
            @include breakpoint($iphone5-6)
            {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}